default-lease-time 600;
max-lease-time 7200;

option rfc3442-classless-static-routes code 121 = array of integer 8;
option ms-classless-static-routes code 249 = array of integer 8;


subnet 192.168.255.0 netmask 255.255.255.0 {
    range 192.168.255.100 192.168.255.149;
    option domain-name-servers 192.168.255.254, 8.8.8.8;
    option routers 192.168.255.254;
    option domain-name "example.com";

    # Static routes... overcome vagrant NAT
    option rfc3442-classless-static-routes 24, 192, 168, 254, 192, 168, 255, 254;
    option ms-classless-static-routes 24, 192, 168, 254, 192, 168, 255, 254;
}

{% for dhcp_host in dhcp_hosts %}
host {{ dhcp_host['hostname'] }} {
    hardware ethernet {{ dhcp_host['mac'] }};
    fixed-address {{ dhcp_host['ip_addr'] }};
}
{% endfor %}
